@model IEnumerable<ReasonViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my project: Why I want to join BHHC</h1>
</div>

<div id="ReasonsCollection">
    <div class="row" style="margin-top:50px">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div id="Reason">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-title">@Html.DisplayFor(modelItem=>item.Title)</p>
                            </div>
                            <div class="card-body text-success">
                                <p class="text-center display-1">@Html.DisplayFor(modelItem => item.Id)</p>
                            </div>
                            <div class="card-footer">
                                <a class="card-link" asp-action="Details" asp-route-id="@item.Id">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

                